body, html {
    background-color: #EBECF0;
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
}

form {
    padding: 16px;
    width: 320px; /* 16px * 20 */
    margin: 0 auto;
}

.segment {
    padding: 32px 0; /* 16px * 2 */
    text-align: center;
}

button, input,select {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px; /* 16px * 20 */
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

label,select {
    display: block;
    margin-bottom: 24px; /* 16px * 1.5 */
    width: 100%;
}

input,select {
    margin-right: 8px; /* 16px / 2 */
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input,select:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button,select,[type="file"] {
    color: #61677C;
    font-weight: 600;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button .icon {
    margin-right: 8px; /* 16px / 2 */
}

/* Button unit */
button.unit {
    border-radius: 8px; /* 16px / 2 */
    line-height: 0;
    width: 48px; /* 16px * 3 */
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px; /* 16px / 2 */
    font-size: 19.2px; /* 16px * 1.2 */
}

button.unit .icon {
    margin-right: 0;
}

/* Button red */
button.red {
    display: block;
    width: 100%;
    color: #AE1100;
}

/* Input group */
.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-group label {
    margin: 0;
    flex: 1;
}
/*dfghjk*/
/* Add this to your existing CSS file */
.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}



.radio-label {
    font-size: 16px;
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
    padding-left: 10px;
}

/* Style for the radio buttons */
input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #BABECC;
    background-color: #FFF;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked {
    background-color: #AE1100; /* Red color when checked */
    border-color: #AE1100;
}

input[type="radio"]:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #AE1100;
}
